:root {
    --waves-container-wave-1: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(7499%) hue-rotate(103deg) brightness(100%) contrast(103%);
    --waves-container-wave-2: brightness(0) saturate(100%) invert(76%) sepia(31%) saturate(3652%) hue-rotate(127deg) brightness(100%) contrast(100%);
    --waves-container-wave-3: brightness(0) saturate(100%) invert(60%) sepia(89%) saturate(1203%) hue-rotate(132deg) brightness(96%) contrast(101%);
}