bar {
    overflow: hidden;
    display: flex;
    height: 71px;
    border-bottom: 1px solid white;
    align-items: center;
}

bar .logo img {
    padding-left: 20px;
    width: 60px;
    cursor: default;
}

bar .socials a {
    color: transparent;
    user-select: none;
}

bar .socials {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

bar .socials .svg {
    align-items: center; /* Добавлено для вертикального выравнивания */
    width: 40px;
    height: 40px;
    color: white;
    display: none;
    transition: color 0.2s ease, background-color 0.2s ease;
    background-color: transparent;
    border-radius: 10px;
    align-items: center; /* Добавлено для вертикального выравнивания */
    justify-content: center; /* Добавлено для горизонтального выравнивания */
}

bar .socials .svg:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

bar .socials .svg.discord:hover {
    color: #5865f2;
}

bar .socials .svg.telegram:hover {
    color: #0088cc;
}

bar .center {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-grow: 1;
    align-items: center
}

bar .center a {
    color: white;
    display: none;
    padding: 25px;
    transition: color 0.3s;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
}

@media (min-width: 572px) {
    bar .center a {
        display: block;
    }
}

@media (min-width: 720px) {
    bar .socials .svg {
        display: flex;
    }
}

bar .center a:hover {
    color: #ffae00;
}